@font-face {
    font-family: "Determination";
    src: url("deltarunecyrillic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("bg.jpg") center/cover no-repeat;
    font-family: "Determination", monospace;
    color: white;
}
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

p {
    color: white;
}

footer {
    color: white;
    text-align: center;
    padding: 10px;
} 