body {
    background-color: #111;
    color: red;
    font-family: Arial, sans-serif;

    animation: flash 0.6s infinite;
}

h1, h2, h3, h4, h5, h6 {
    color: red;
}

p {
    color: red;
}

footer {
    color: red;
    text-align: center;
    padding: 10px;
}
@keyframes flash {
    0%   { background-color: #000; }
    50%  { background-color: #111; }
    100% { background-color: #000; }
}