body {
margin: 0;
    min-height: 100vh;

    /* Фон */
    background-image: url("background.jpg"); э
    background-repeat: no-repeat;         
    background-size: cover;     
    background-position: center center;      
    background-color: #111;
    color: red;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: red;
}

p {
    color: red;
}

footer {
    color: red;
    text-align: center;
    padding: 10px;
}
